

#calculator {
    font-family:sans-serif;
    background-color:hsl(from black h s 10);
    border-radius: 15px;
    max-width: 500px;
    overflow:hidden;
}

#keys {
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border:none;
    background-color:hsl(from black h s 30);
    font-size: 3rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}

#display {
    display: flex;
    height: 75px;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border:none;
    background-color:hsl(from black h s 15);
    color:white;
}

#previous {
color: white;
font-size: 2rem;
height:100%;
}

#current {
color: white;
font-size: 3rem;
height:100%;
}
button.operator {
    background-color:hsl(from orange h s 40);
}

button:hover {
    background-color:hsl(from black h s 40);
}

button:active {
    background-color:hsl(from black h s 55);
}

button.operator:hover {
    background-color:hsl(from orange h s 55);
}

button.operator:active {
    background-color:hsl(from orange h s 75);
}
